 body {
	            font-family: 'Open Sans', sans-serif;
            }

            a {
	            text-decoration: none;
            }

            #penguin {
                padding-top: 100px;
                width:100%;
                position: relative;
                top: 200px;
	            margin: 0 auto;
	            padding: 0 5%;
                background-color: rgba(0, 0, 0, 0.65);
                
   
            }

            img {
	            max-width: 100%;
            }

            h3 {
	            margin: 0 0 1em 0;
            }

            /************************
                SLIDER CSS
            *************************/
            #container {
                height: 450px;
                width: 1100px;
                margin: 20px auto;
                background-color: rgba(0, 0, 0, 0.65);
                align-content: center;
                position: relative;
                top: 200px;
                border-radius: 20px;
            }

            #img {
                height: 450px;
                width: 900px;
                position: initial;
                position: relative;
                bottom: 160px;
                left: 90px;

            }

            #left_holder {
                height: 550px;
                width: 1000px;
                position: absolute;
                right: 0px;
                top: 0px;
            }

            #right_holder {
                height: 550px;
                width: 970px;
                position: absolute;
                left: 0px;
                top: 0px;
            }

            .left {
                height: 50px;
                width: 50px;
                position: absolute;
                top: 40%;
                left: 0px;
            }

            .right {
                height: 50px;
                width: 50px;
                position: absolute;
                top: 40%;
                right: 0px;
            }



            /***************************
            LINKS
            ****************************/

            a {
            color: #000000;

            }
            /***************************
            HEADING
            ****************************/

            header{
	            float: left;
	            margin: 0 0 30px 0;
	            padding: 5px 0 0 0;
	            width: 100%;
                background-color: #0F243C;
                opacity: 0.7;
            }
            #logo {
	            text-align: center;
	            margin: 0;
            }

            h1 {
	            font-family: 'Open Sans', sans-serif;
	            margin: 15px 0;
	            font-size: 2em;
	            font-weight: normal;
	            line-height: 0.8em;
            }

            h2 {
	            font-size: 2em;
	            margin: -5px 0 0;
	            font-weight: normal;
            }

            /***************************
            NAVIGATION
            ****************************/

            nav {
	            text-align: center;
	            padding: 10px 0;
	            margin: 20px 0 0;
            }

        nav ul {
	        list-style: none;
	        margin: 0 10px;
	        padding: 0;
        }

        nav li {
	        display: inline-block;
        }

        nav a {
	        font-weight: 800;
	        padding: 15px 10px;
        }
        /***************************
        FOOTER
        ****************************/

        footer {
   
	        font-size: 1em;
	        clear: both;
        }

        .social-icon {
	        width: 50px;
	        height: 50px;
	        margin: 0 5px;
        }
        /****************************
        PAGE: PORTFOLIO
        *****************************/

        #gallery {
	        margin: 50px;
	        padding: 10%;
	        list-style: none;
            width: 200%
           
        }

        #gallery li {
	     
        }

        #gallery li a p {
	        margin: 0;
	        padding: 5%;
	        font-size: 2em;
	        color: #bdc3c7;
        }

        /***************************
        COLOR
        ****************************/

        /*Site Body*/

        body {
	        background-color: #fff;
            color: #000000;
	        background-attachment: fixed;
	        -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          
        }

        header {
	
        }
	
        nav {
        }

        h1, h2 {
	        color: #fff;
        }

        /* LINKS */
        a {
	        color: #000000;
        }
        /*NAV LINK */
	        nav a, nav a:visited {
	        color: #fff;
        }W
        /*SELECTED NAV LINK*/
        nav a.selected, nav a:hover{
	        color: #000000;
        }

        /***************************
        PAGE: ABOUT
        ***************************/

        .Photo {
	        display: block;
	        max-width: 500px;
	        margin: 0 auto 30px;
	        border-radius: 100%;
        }

        /***************************
        PAGE: CONTACT
        ***************************/

        .contact-info {
	        list-style:none;

	        padding: 0;
	        margin:0;
	        font-size: 1em;
        }

        .contact-info a {
	        display: block;
	        min-height: 20px;
	        background-repeat: no-repeat;
	        background-size: 20px 20px;
	        padding: 0 0 0 30px;
	        margin: 0 0 10px;
        }

        .contact-info li.phone a{
	        background-image: url('../img/phone.png');
        }

        .contact-info li.mail a{
	        background-image: url('../img/mail.png');
        }

        .contact-info li.twitter a{
	        background-image: url('../img/twitter.png');
        }

        /*************************
            SLIDER
        **************************/
#ninja-slider
{
    width:100%;
    margin:0 auto; /*center aligned*/
    background:#222;
}
#ninja-slider > ul
{
    padding:20px 0;
}

/* slide */
#ninja-slider li > div, #ninja-slider li > a
{
    max-width:960px;
    margin:0 auto; /* center each slide */
    border-radius:6px;
    /*background:#999;*/
    position: relative;
    display:block;
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 1px rgba(255,255,255,.4);
    transition:none!important;
}

/* loading image indicator */    
#ninja-slider div.preload 
{
    background: black url(img/loading.gif) no-repeat center center;
}

/*----- video -----*/
#ninja-slider a.video 
{
	position:absolute;
    border:0;top:0;left:0;
	width:100%;height:100%;
	background:transparent url(img/video.png) no-repeat 50% 50%;
    transition:none!important;
}
  
/*------ pager ------*/      
/* The pager id should be: slider id + "-pager" */    
#ninja-slider-pager
{
    padding-top:12px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #CCCCCC;
    font-size:0;
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}
#ninja-slider-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-pager a.active 
{
    background-color:black;
    box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
    background-image:linear-gradient(top,#1293dc,#0f6297);
}
 
/* --------- navigation controls ------- */   
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */    
#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    top: 40%;
    width:64px;
    height:64px;
    display:inline-block;
    margin:0;
    background-image: url(coffee_cup2.jpg);
}
#ninja-slider-prev {
    left: 0;
    background-position:0 0;
}
#ninja-slider-prev:hover {background-position:0 -64px;}

#ninja-slider-next {
    right: 0;
    background-position:-64px 0;
}
#ninja-slider-next:hover {background-position:-64px -64px;}

#ninja-slider-pause-play { display:none;}



/*------- Settings that usually don't need to change ------- */
#ninja-slider > ul
{
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-tap-highlight-color: transparent;
}

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#ninja-slider
{
    position: relative;
    overflow: hidden;
    /*visibility: hidden;*/
    padding:0;
}
#ninja-slider > ul
{
    overflow: hidden;
    position: relative;
    list-style:none;
    margin:0;
}

#ninja-slider > ul > li
{
    float: left;
    width: 100%;
    position: relative;
    list-style:none;
    padding:0;margin:0;
}

/*********************
    TABLE CSS
*********************/

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

th {
    border: solid grey thick;
}

td{
    border: solid grey thick;
}

caption {
    font-size: 2em; font-weight: bold;
}

/*********************
    FORM CSS
*********************/

.searchForm {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background: #FFFFFF;
  max-width: 500px;
  margin: 50px auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
}

.searchForm input{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.searchForm button {
  text-transform: uppercase;
  text-shadow:;
  padding: 10px;
  margin: 0;
  outline: 0px;
  background: #6172d8;
  width: 100%;
  border: 0px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.searchForm button:hover,.searchForm button:active,.searchForm button:focus {
  background: #5363c1;
}
